
.login{
    display: flex;
    align-items: center;
    justify-content: end;
    font-size: 11px;
    
}
.login a{
    text-decoration: none;
    color: #333;
}

#loginA {
    color: #5f0080;
}
.CustomerIcon {
    width: 8px;
    height: 5px;
    background-image: url(https://res.kurly.com/pc/ico/1908/ico_down_16x10.png);
    background-size: cover;
    background-position: center center;
    display: inline-block;
    margin-left: 5px;
    margin-bottom: 1px;
}
.HeaderLoginBar{
    width: 1px;
    height: 13px;
    margin: 0px 12px;
    background-color: rgb(217, 217, 217);
}
.CustomerDropbox {
    position: relative;
}
.CustomerDropbox a{
     text-decoration: none;
     color: #333;
}
.CustomerDropbox:hover .CustomerDropboxIn{
    display: block;
}
.CustomerDropboxIn{
    display: none;
    position: absolute;
    z-index: 2;
    right: 0px;
    top: 34px;
    width: 130px;
    padding: 3px 9px;
    border: 1px solid rgb(221, 221, 221);
    background-color: rgb(255, 255, 255);
}
.CustomerDropboxIn a{
    display: block;
}